# Ignorer les dépendances Node.js d'Angular
front/node_modules/

# Ignorer les fichiers générés par le build Angular
front/dist/
front/.angular/

# Ignorer les fichiers et dossiers spécifiques aux éditeurs/IDE
front/.idea/
front/.vscode/

# Ignorer les fichiers de configuration Maven (Spring Boot)
back/target/

# Ignorer les fichiers de configuration IDE
back/.idea/
back/.vscode/

# Ignorer les fichiers log
*.log

# Ignorer les fichiers systèmes
.DS_Store
Thumbs.db

# Ignorer les fichiers générés par le compilateur Java
*.class
